.about {
    width: 100vw;
    height: 100%;
    background-color: var(--color2);
    color: #fff;
}


.about > h1 {
    text-align: center;
    font-size: 3em;
    color: #fff;
    background-color: var(--color2);
    padding: 2em 0;
}

.about > h1 > span {
    color: var(--color1);
}



/* ---------------------------------------------------------------------------- */
/* Left Section */



.about--top {
    width: 100vw;
    /* height: 50vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color2);
    padding-bottom: 4em;
}

.about--top--left {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color2);
    box-shadow: 0px 0px 20px #000;
    padding: 40px;
    border-radius: 5px;
    margin-right: 50px;
}

.avatar {
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #111;
}

.avatar > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.personal--info {
    padding-top: 2em;
    line-height: 30px;
}

.personal--info > p {
    text-transform: uppercase;
    color: #999;
    font-weight: 600;
    font-size: 0.9em;
}
.personal--info > p > span {
    text-transform: none;
    margin-left: 3px;
    color: #fff;
}


.about--top--right {
    width: 50%;
    font-size: 1.1em;
}



.about--top--right > p {
    max-width: 80%;
    font-size: 1rem;
    line-height: 30px;
}
.about--top--right > p > span {
    color: #999;
    text-transform: uppercase;
    display: block;
    margin: 1rem 0;
}

.about--top--right li {
    margin: 0.3rem 0 0.3rem 0.5rem;
    font-size: 1rem;
    list-style-type: disc;
    line-height: 30px;
}

.about--bottom {
    width: 100vw;
    height: 100%;
    padding: 3em 0;
    /* background: var(--color1); */
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='470' height='391.7' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.07'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/svg%3E");
    background-color: var(--color1);

}

.about--bottom > h2 {
    text-align: center;
    padding-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.about--bottom > div {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    

}   


.about--bottom > div > p:nth-child(odd) {
    color: #111;
    font-weight: bold;
    text-transform: uppercase;
}
.about--bottom > div > p:nth-child(even) {
    color: #fff;
    margin-bottom: 10px;
}


@media ( max-width: 1024px ) {
    .about--top--right {
        width: 40%;
        font-size: 0.8em;
    }
}



@media (max-width: 769px ) {
    .about--top {
        flex-direction: column;
        height: 100%;
    }
    .about--top--left {
        margin: 2em 0;
    }
    .about--top--right {
        width: 90%;
        text-align: left;
        margin-top: 2em !important; 
    }
    .about--top--right > p {
        font-size: 1.2em;
        margin: 0 auto;
    }
    .about > h1 {
        padding: 1em 0 0 0;
    }
    .about--top--right > p {
        font-size: 1.3em;
        line-height: 25px;
    }
    .about--top--right li {
        width: 80%;
        margin: 0.5rem auto !important;
        background-color: #333;
        border-radius: 5px;
        color: #fff;
        padding: 1rem;
        list-style-type: none;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
    }
}


@media (max-width: 480px ) {

    .about--top--right {
        width: 100vw;
        padding: 0 0 2em 0;
        margin: 0;
    }
    .about--top--right > p {
        font-size: 1.2em;
    }

}