#footer {
    width: 100vw;
    background-color:var(--color2);
    color: #fff;
}
.footer--wrapper{ 
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.footer--wrapper > p {
    font-size: 0.3em;
    margin-right: 1em;
}

.footer--content {
    display: flex;
    align-items: center;
}
#footer > .footer--content > p {
    font-size: 0.3em;
    letter-spacing: 1px;
    margin-right: 1em;
}


@media ( max-width: 480px ) {
    #footer > .footer--content > p {
        font-size: 0.2em;
    }
}


